<div id="primary-content">
	<div class="container-pages-home">
		<h1 class="orange">Childish - Ways </h1>
		<div id="flip-element">
			<h2 class="title-name">What happens when it all goes wrong ?</h2>
		</div>
		<hr class="featurette-divider">
		<div id="bounce-right">
			<p class="lead">Click play below to find out..</p>
		</div>
		
		<div id="zoom-content">
			<iframe width="95%" height="470" src="https://www.youtube.com/embed/ddTlNEWFIxc?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
		
		<div id="bounceleft-content">
			<h4>Now let me teach you how to stay alive on our roads</h4>
			<p><i class="orange">go to the dropdown above</i></p>
		</div>	
		<hr class="featurette-divider">
	</div>
</div>

