<div id="primary-content">
	<div class="container-pages">
		
		<div id="flip-element">
			<h1>Kids bike | skills n rules</h1>
		</div>
		
		<div id="bounce-content">
			<div class="slow-content">
				<hr class="featurette-divider">

				<div class="row skills">
  				<div class="col-md-4 top">
  					<div class="container-images">
  						<img src="http://childsafetyblog.org/wp-content/uploads/2014/07/Bike-photo-July-2014.jpg" class="img-responsive" alt="bike skills">
  					</div>
  				</div>
			
  				<div class="col-md-8"><h3 class="green">Be Seen Be Safe !</h3>
  					<p class="beta-p left">Wear high visibility or brightly coloured clothing and use lights. </p> 
						<p class="beta-p left">If you ride your bike in poor lighting conditions or at night wear a reflective vest.</p>
						<p class="beta-p left">Be safe be seen when you are on the road riding your bike.</p>
						<p class="beta-p left">Be cool and wear your helmet it could save your life if your in a accident and it just looks silly when you see someone riding a bike without one.</p>
					</div>
				</div>

				<div class="row skills">
  				<div class="container-images-rgt">
  					<span>
  						<img src="http://www.nzta.govt.nz/resources/roadcode/cyclist-code/gfx/car-door-zone.jpg" class="img-responsive" alt="cycle skills">
  					</span>
  				</div>
  				<div class="col-md-8"><h3 class="orange">Be Aware !</h3>
  					<span class="e-text">
  						<p class="beta-p left">Watch for car doors opening, potholes, rubbish, grates, and pedestrians. Always check for left turning vehicles.</p> 
							<p class="beta-p left">Sometimes others on the road may not see you no matter what your wearing always remember it's your job to keep an eye out for the unexpected, here's a tip - when the traffic light's turn green still check your left and right to make sure the road is clear.</p>
							<p class="beta-p left">Be carefull to watch out for animals they can run out onto the road at any time and may make you have a crash.</p>
						</span>
  				</div>
				</div>

				<div class="row skills">
					<div class="col-md-4 top">
  					<div class="container-images">
  						<img src="http://cycleleeds.org.uk/assets/img/school-cycle-training.jpg" class="img-responsive" alt="Bike skills">
  					</div>
					</div>
  				<div class="col-md-8"><h3 class="green">Predictable and Confident !</h3>
  					<p class="beta-p left">Make eye contact with other road users. Maintain a straight line and don’t pass on the left hand side.</p>
						<p class="beta-p left">Use hand signals and a bell. Ride at least one metre from parked cars. Use the cycle or traffic lane.</p>
						<p class="beta-p left">Always make your intentions clear to other road users. Using simbolic gestures like when turning a corner or stopping is the key here and just using your common sense is where it's at.</p>
  				</div>
				</div>
		
				<div class="row skills top">
					<div class="container-images-rgt">
						<span>
							<img src="http://www.nzta.govt.nz/resources/roadcode/gfx/roadcode-cyclists-cover.jpg" class="img-responsive" alt="cycle rules nz">
						</span>
					</div>
					<div class="col-md-8 adm"><h3 class="orange">Find Resources</h3>
						<span class="e-text">
							<p class="beta-p left">You can find out lot's of other info on 'cycling right' here at the<a href="http://www.nzta.govt.nz/resources/roadcode/cyclist-code/about-cycling/rules.html" target="_blank"><i> NZTA</i></a>  just click the link to check it out.</p>
   						<p class="beta-p left"></p>
   						<p class="beta-p left">Here's another tip, When cycling behind other cyclists and vehicles you must be able to stop, keeping clear of the vehicle in front, if it stops suddenly. It is recommended you keep at least two seconds behind..</p>
   						<p class="beta-p left">If you can get a copie of the new Zealand road code and read it ! you will be a better cyclist and become more confident when you know the road rules. Be safe and have fun riding your bike.</p>
   					</span>
   				</div>
				</div>
				<hr class="featurette-divider">
			</div>
		</div>
	</div>
</div>
