<div id="primary-content">
	<div class="container-pages">
		
		<div id="flip-element">
			<h1>Information for pedestrians</h1>
		</div>
		
		<div id="bounce-content">
			<div class="slow-content">
				<hr class="featurette-divider">

				<div class="row skills">
  				<div class="col-md-4 top">
  					<div class="container-images">
  						<img src="http://www.sha.maryland.gov/OOTSImages/talesoftheroad.png" class="img-responsive" alt="pedestrian skills">
  					</div>
  				</div>
			
  				<div class="col-md-8"><h3 class="green">Think about it</h3>
  					<p class="beta-p left">As a pedestrian, it's important that you follow the road rules and guidelines shown below. They will help ensure your safety when you're walking near roads or crossing the road.</p> 
					</div>
				</div>

				<div class="row skills">
  				<div class="container-images-rgt">
  					<span>
  						<img src="http://www.unitypoint.org/blankchildrens/filesimages/Kids%20walking%20to%20school.jpg" class="img-responsive" alt="pedestrian skills">
  					</span>
  				</div>
  				<div class="col-md-8"><h3 class="orange"> Some general pedestrian guidelines</h3>
  					<span class="e-text">
  						<p class="beta-p left">Footpaths provide a safe place for you to walk. Where a footpath is provided, use it.</p> 
							<p class="beta-p left">When using a shared path you must be careful and considerate. A shared path may be a cycle path, a footpath, or some other kind of path used by pedestrians, cyclists, riders of mobility devices and riders of wheeled recreational vehicles at the same time. There will be a sign telling you it is a shared path.</p>
							<p class="beta-p left">Be careful when crossing driveways, particularly when your visibility is restricted by buildings or fences. Remember, if a driver is coming out of a driveway, their vision will be restricted and they may not see you.</p>
						</span>
  				</div>
				</div>

				<div class="row skills">
					<div class="col-md-4 top">
  					<div class="container-images">
  						<img src="http://static2.stuff.co.nz/1233108507/462/522462.jpg" class="img-responsive" alt="pedestrian skills">
  					</div>
					</div>
  				<div class="col-md-8"><h3 class="green">School & Pedestrian crossings</h3>
  					<p class="beta-p left">If you are within 20 metres of a pedestrian crossing, footbridge, underpass or traffic signals, you must use it to cross the road.</p>
						<p class="beta-p left">Don't dawdle on a pedestrian crossing.</p>
						<p class="beta-p left">Don't step out suddenly onto a pedestrian crossing if any vehicles are so close to the crossing that they cannot stop.</p>
  				</div>
				</div>
		
				<div class="row skills top">
					<div class="container-images-rgt">
						<span>
							<img src="http://www.nzta.govt.nz/resources/nz-pedestrian-profile/img/nz-pedestrian-profile-cover.jpg" class="img-responsive" alt="pedestrian rules nz">
						</span>
					</div>
					<div class="col-md-8 adm"><h3 class="orange">Resources</h3>
						<span class="e-text">
							<p class="beta-p left">You can find out lot's of other info on 'pedestrians' at the<a href="http://www.nzta.govt.nz/resources/roadcode/about-other-road-users/information-for-pedestrians.html" target="_blank"><i> NZTA</i></a>  just click the link to check the info.</p>
   						<p class="beta-p left"></p>
   						<p class="beta-p left">Here's another tip, remember, it takes time for a vehicle to stop. Be sensible and wait for a gap in the traffic before crossing the road.</p>
   						<p class="beta-p left">If you can get a copie of the new Zealand road code and read it ! you will be a better pedestrian and become more confident when you know the road rules.</p>
   					</span>
   				</div>
				</div>
				<hr class="featurette-divider">
			</div>
		</div>
	</div>
</div>
