<div id="primary-content">
	<div class="container-pages-home">
		<div id="flip-element">
			<h1 class="orange">Awesome road safety games</h1>
		</div>
			<h2 class="title-name">Below are links to play online games for free, enjoy !</h2>
		<hr class="featurette-divider">
		<div id="bounce-right">
			<p class="lead">Click links to play..</p>
		</div>

		<div id="zoom-content">
			<p class="beta-p"><a href="http://talesoftheroad.direct.gov.uk/stop-look-listen.php" target="_blank"><i> Make me cross</i></a></p>
			<p class="beta-p"><a href="http://talesoftheroad.direct.gov.uk/be-bright.php" target="_blank"><i> Lighten Up</i></a></p>
			<p class="beta-p"><a href="http://talesoftheroad.direct.gov.uk/safer-place-to-cross.php" target="_blank"><i> Street Smarts</i></a></p>
			<p class="beta-p"><a href="http://talesoftheroad.direct.gov.uk/cycling-safety.php" target="_blank"><i> Fix n Ride</i></a></p>
		</div>
		
		<div id="bounceleft-content">
			<h4>Thank you for visiting my Road safety site i hope you learnt a bit about keeping your self safe ! </h4>
		</div>
		<div id="lightspeed2">	
			<p><i class="orange">Stephanie Rails. lol all rights not reserved ! 2015</i></p>
		</div>	
		<hr class="featurette-divider">
	</div>
</div>