<div id="primary-content">
	<div class="container-pages">
		
		<div id="flip-element">
			<h1>Skateboards and Scooters</h1>
		</div>
		
		<div id="bounce-content">
			<div class="slow-content">
				<hr class="featurette-divider">

				<div class="row skills">
  				<div class="col-md-4 top">
  					<div class="container-images">
  						<img src="http://i.ytimg.com/vi/XqHO7aOHyN8/maxresdefault.jpg" class="img-responsive" alt="skates skills overview">
  					</div>
  				</div>
			
  				<div class="col-md-8"><h3 class="green">Safety Overview</h3>
  					<p class="beta-p left">When using in-line skates, a scooter or skateboard, are you a pedestrian? Or are you considered to be using a vehicle?  Generally, the answer is that you are considered to be a pedestrian, which determines where you can use your skates, scooters or skateboard. This section includes tips you can learn to help stay safe while on the move. </p>
					</div>
				</div>

				<div class="row skills">
  				<div class="container-images-rgt">
  					<span>
  						<img src="http://www.skateshop.ie/oldsite/images/2591667219_01ecace2cc.jpg" class="img-responsive" alt="skateboard skills">
  					</span>
  				</div>
  				<div class="col-md-8"><h3 class="orange">Where can you go ?</h3>
  					<span class="e-text">
  						<p class="beta-p left">Riding on the road is dangerous for any user so we strongly recommend using rollerblades, skates, scooters or skateboards on the footpath. An even better option is to use facilities such as skate parks – it’s much safer for everyone.</p> 
							<p class="beta-p left">However using your scoot skates and skateboard on the footpath is ok as long as you concider others and take care not to harm or endanger pedestrians.</p>
						</span>
  				</div>
				</div>

				<div class="row skills">
					<div class="col-md-4 top">
  					<div class="container-images">
  						<img src="http://cdni.wired.co.uk/620x413/s_v/scooter.jpg" class="img-responsive" alt="scoot skills">
  					</div>
					</div>
  				<div class="col-md-8"><h3 class="green">Being safe</h3>
  					<p class="beta-p left">Wear a helmet and safety gear such as wrist guards, elbow and knee pads, as well and closed shoes and brightly coloured clothing.</p>
						<p class="beta-p left">Practise riding skills away from traffic.</p>
						<p class="beta-p left">Always make your intentions clear to other pedestrians. Just using your common sense is where it's at.</p>
						<p class="beta-p left">See more about the<a href="http://www.nzta.govt.nz/vehicle/your/low-powered.html" target="_blank"><i> legal requirements for skateboards and scooters</i></a> .</p>
  				</div>
				</div>
				<hr class="featurette-divider">
			</div>
		</div>
	</div>
</div>
